#main .item-reply img {
  width: 60px;
  max-height: 100px; }
#main .element-reply-sort:hover {
  color: grey;
  text-decoration: underline; }
#main .element-reply-sort {
  cursor: pointer;
  color: black; }
#main .reply-list {
  margin-top: 20px; }
#main .reply {
  margin-top: 25px;
  border: 1px solid gainsboro;
  border-radius: 20px;
  background: #fdfdfd; }
  #main .reply form {
    padding: 0; }
    #main .reply form .checkbox {
      font-size: 12px; }
    #main .reply form #replyFormBtn {
      margin-bottom: 15px; }
    #main .reply form .col-lg-8 {
      padding: 0; }
    #main .reply form #preview-photo {
      padding: 0;
      list-style: none;
      padding-top: 10px; }
      #main .reply form #preview-photo canvas {
        max-width: 210px;
        max-height: 320px; }
      #main .reply form #preview-photo .delete {
        border: 1px solid;
        padding: 2px 4px;
        border-radius: 4px;
        cursor: pointer; }
    #main .reply form .help-block {
      font-size: 10px; }
