#main{
  .item-reply{
    img{
      width: 60px;
      max-height: 100px;
    }
  }
  .element-reply-sort:hover{
    color: grey;
    text-decoration: underline;
  }
  .element-reply-sort{
    cursor: pointer;
    color: black;
  }
  .reply-list{
    margin-top: 20px;
  }
  .reply{
    margin-top: 25px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    background: #fdfdfd;
    form{
      .checkbox{
        font-size: 12px;
      }
      #replyFormBtn{
        margin-bottom: 15px;
      }
      padding: 0;
      .col-lg-8{
        padding: 0;
      }
      #preview-photo{
        padding: 0;
        list-style: none;
        padding-top: 10px;
        canvas{
          max-width: 210px;
          max-height: 320px;
        }
        .delete{
          border: 1px solid;
          padding: 2px 4px;
          border-radius: 4px;
          cursor: pointer;
        }
      }
      .help-block{
        font-size: 10px;
      }
    }
  }
}